

   
     
     <article id="Preguntas">
         <h2>Preguntas</h2><br/><br/>
         <ul class="text-justify"><li><strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong><br/>Por que destruye toda la información guardada y libera todas las variables de la sesión[1]</li><br/><br/>
        <li><strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong><br/>
            Una cookie, los datos asociados a una sesión se almacenan en el servidor y nunca en el cliente.
            [2]</li><br/><br/>
        <li><strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?
            </strong><br/>Se verifica si ya existe la foto, y en dado caso que ya puede generar una tecnica para subir la foto como un incrementador
             </li><br/><br/>
        <li><strong>¿Qué es CSRF y cómo puede prevenirse?</strong><br/>
             Para que se pueda llevar a cabo un ataque mediante CSRF, en primera instancia, el atacante debe conseguir vulnerar e ingresar código HTML en un determinado servidor que podemos llamar “A”.Por otro lado, la víctima establece una conexión legÍtima con una aplicación web en otro servidor, que llamaremos “B”.La víctima accede a la aplicación web donde se encuentra el código introducido por el atacante.El navegador de la víctima realiza una petición contra la aplicación del servidor web “B” sin que el usuario se entere<br/>
            Se puede prevenir con: Modo incognito, cerrar sesión, no guardar formularios.[3]</li><br/><br/>
         </ul>
     </article>
     
     <article id="Ref">
        Referencias
         <ol>
            <li>https://www.php.net/manual/es/function.session-destroy.php</li>
             <li>http://idesweb.es/proyecto/proyecto-prac09-php-cookies-sesiones</li>
             <li>https://www.welivesecurity.com/la-es/2015/04/21/vulnerabilidad-cross-site-request-forgery-csrf/</li>
         </ol>
     </article>