<div class="row">
    <form class="col s12" action="login.php" method="post"  enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" name="username" type="text" >
          <label for="nombre">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="password" name="password" type="password" >
          <label for="contra">Contraseña</label>
        </div>
          <div class="input-field col s6">
          <button type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>