  
<section>
<div id="tmContact" class="parallax-window" data-parallax="scroll" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-bg-white-transparent">
                <h2 id="cimagen" >Cargar imagen</h2>
                <br>
                <form action="upload.php" method="post" enctype="multipart/form-data">
                    Seleccionar imagen a subir:
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Upload Image" name="submit">
                </form>
                 <?php if (isset($_SESSION["imagen"])): ?>
                    <img src="<?=$_SESSION["imagen"]?>" alt="Imagen cargada">
                <?php endif ?>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>