<div class="align-center">
    <ol>
        <li><strong>¿Qué es ODBC y para qué es útil?</strong>Conectividad de base de datos abierta (Open Database Connectivity, ODBC) es una interfaz de programación de aplicaciones (API) de estándar abierto para acceder a una base de datos. Mediante el uso de sentencias de ODBC en un programa, usted puede acceder a los archivos de diferentes bases de datos, incluyendo Access, dBase, DB2, Excel y Text. Además del software de ODBC, se necesita un módulo o controlador independiente para acceder a cada base de datos. El principal promotor y proveedor del soporte de programación ODBC es Microsoft.[1]</li>
        <li><strong>¿Qué es SQL Injection?</strong>Es una vulnerabilidad que permite al atacante enviar o “inyectar” instrucciones SQL de forma maliciosa y malintencionada dentro del código SQL programado para la manipulación de bases de datos, de esta forma todos los datos almacenados estarían en peligro[2]</li>
        <li><strong></strong>Escapar los caracteres especiales utilizados en las consultas SQL, Delimitar los valores de las consultas. <br/>      Verificar siempre los datos que introduce el usuario.<br/>
          Asignar mínimos privilegios al usuario que conectará con la base de datos[3]

</li>
    </ol>
</div>