<h3>Buscar por un precio menor que</h3>
<form method="post" action="precio.php">
  <label for="price">Precio</label>
  <input type="number" name="precio" id="precio">
  <button type="submit">Buscar por precio</button>
</form>
<br/>
<br/>
<h3>Buscar por nombre</h3>
<form method="post" action="nombre.php">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre">
  <button type="submit">Buscar por nombre</button>
</form>
<br/>
<br/>
<h3>Eliminar por nombre</h3>
<form method="post" action="eliminar.php">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre">
  <button type="submit">Eliminar Registro</button>
</form>
<br/>
<br/>
<h3>Insertar Nueva Fruta</h3>
<form method="post" action="insertar.php">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre">
  <label for="units">Unidades</label>
  <input type="text" name="units" id="units">
  <label for="quantity">Cantidad</label>
  <input type="text" name="quantity" id="quantity">
  <label for="price">Precio</label>
  <input type="text" name="price" id="price">
  <label for="country">País</label>
  <input type="text" name="country" id="country">
  <button type="submit">Insertar Registro</button>
</form>
<br/>
<br/>
<h3>Actualizar Fruta</h3>
<form method="post" action="actualizar.php">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre">
  <label for="units">Unidades</label>
  <input type="text" name="units" id="units">
  <label for="quantity">Cantidad</label> 
  <input type="text" name="quantity" id="quantity">
  <label for="price">Precio</label>
  <input type="text" name="price" id="price">
  <label for="country">País</label>
  <input type="text" name="country" id="country">
  <button type="submit">Actualizar Registro</button>
</form>