<form method="post" action="precio.php">
  <input type="number" name="precio" id="precio">
  <button type="submit">Buscar por precio</button>
</form>
<br/>
<br/>
<form method="post" action="nombre.php">
  <input type="text" name="nombre" id="nombre">
  <button type="submit">Buscar por nombre</button>
</form>
<br/>
<br/>
<form method="post" action="eliminar.php">
  <input type="text" name="nombre" id="nombre">
  <button type="submit">Eliminar Registro</button>
</form>
<form method="post" action="insertar.php">
  <input type="text" name="nombre" id="nombre">
  <input type="text" name="units" id="units">
  <input type="text" name="quantity" id="quantity">
  <input type="text" name="price" id="price">
  <input type="text" name="country" id="country">
  <button type="submit">Insertar Registro</button>
</form>