<div class="align-center">
    <ol>
        <li><strong>¿Por qué es una buena práctica separar el modelo del controlador?</strong> Porque así podemos separar el código e identificar errores o modificar con más fácilidad en un fúturo. </li>
        <li><strong>¿Qué es SQL Injection?</strong> Es una vulnerabilidad que permite al atacante enviar o “inyectar” instrucciones SQL de forma maliciosa y malintencionada dentro del código SQL programado para la manipulación de bases de datos, de esta forma todos los datos almacenados estarían en peligro[2]</li>
        Escapar los caracteres especiales utilizados en las consultas SQL, Delimitar los valores de las consultas. <br/>      Verificar siempre los datos que introduce el usuario.<br/>
          Asignar mínimos privilegios al usuario que conectará con la base de datos[3]</ol>
</div>