
</main>
<ol>
    <li>https://www.upf.edu/hipertextnet/numero-9/ria-accesibilidad-web.html</li>
    <li>http://www.cantabriatic.com/cross-domain-y-peticiones-ajax-limitacion-o-seguridad/</li>
   <li>https://developer.mozilla.org/es/docs/Learn/JavaScript/Objects/JSON</li>
</ol>
<footer>

    Pagina hecha por: Carlos Alfonso Sanchez Rosales
    Derechos Reservados

</footer>
<script type="text/javascript" src="js/ajax.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>